<div class="header d-flex align-items-center">
  <a routerLink="/home" id="logo"> 📚</a>
  <form #searchBox="ngForm">
    <div class="header-search d-flex align-items-center">
      <input
        type="text"
        class="search-box"
        [(ngModel)]="searchText"
        name="searchText"
        placeholder="Search for books"
      />
    </div>
  </form>
  <button class="btn-theme ms-4" (click)="toggleSortMenu()">Sort</button>
  <div class="dropdown-container" *ngIf="isSortMenuVisible">
    <div class="dropdown-list row w-250">
      <span
        class="dropdown-list-item"
        *ngFor="let criterion of criteria"
        (click)="sortBooks(criterion)"
      >
        {{ criterion }}
      </span>
    </div>
  </div>

  <!-- by the current layout -->
  <div class="head-right-item">
    <div class="cart" (click)="goToCart()">
      🛒<span *ngIf="numberOfProductsInCart > 0">{{
        numberOfProductsInCart
      }}</span>
    </div>
  </div>
</div>
